.main_table{
    width: 100%;

}

.main_table tr th {
    text-align: left;
    background-color: aqua;
    padding: 5px;
}

.main_table tr td {
    text-align: left;
    border: 1px solid;
    padding: 5px;
}

.input-btn {
    padding: 10px;
    border: 1px solid;
    cursor: pointer;
    
}